apiVersion: v1
kind: PersistentVolume
metadata:
  name: keydbpv
  annotations:
    volume.beta.kubernetes.io/storage-class: "slow"
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  iscsi:
    targetPortal: 10.0.0.30:3260
    iqn: iqn.2009-02.com.younglogic:for.all
    lun: 1
    fsType: ext4
    readOnly: false